@{
    Layout = null;
}

@model  CentroMedico.Models.Usuario

<!Doctype html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="Pablo Franco">
    <link href="~/Content/EstiloRegistro.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css2?family=Nunito:ital,wght@1,700&display=swap" rel="stylesheet">
</head>
<body>

    @using (Html.BeginForm("Registro","Registro",FormMethod.Post))
    {
        @Html.AntiForgeryToken()

        <div class="contenedor">
            <div class="tarjeta">
                <form>

                    <!--Registro-->
                    <div class="fila">
                        <div class="col-lg-12">
                            <p style="font-size: 25pt;"> Registro</p>
                        </div>
                    </div>

                    <!--primer nombre-->
                    <div class="fila">
                        <div class="col-lg-6">
                            @Html.LabelFor(model => model.primer_nombre, htmlAttributes: new { @class = "control-label col-md-2" })
                        </div>
                        <div class="col-lg-6">
                            @Html.EditorFor(model => model.primer_nombre, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.primer_nombre, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <!--Segundo nombre-->
                    <div class="fila">
                        <div class="col-lg-6">
                            @Html.LabelFor(model => model.segundo_nombre, htmlAttributes: new { @class = "control-label col-md-2" })
                        </div>
                        <div class="col-lg-6">
                            @Html.EditorFor(model => model.segundo_nombre, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.segundo_nombre, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <!--primer apellido-->
                    <div class="fila">
                        <div class="col-lg-6">
                            @Html.LabelFor(model => model.primer_apellido, htmlAttributes: new { @class = "control-label col-md-2" })
                        </div>
                        <div class="col-lg-6">
                            @Html.EditorFor(model => model.primer_apellido, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.primer_apellido, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <!--segundo apellido-->
                    <div class="fila">
                        <div class="col-lg-6">
                            @Html.LabelFor(model => model.segundo_apellido, htmlAttributes: new { @class = "control-label col-md-2" })
                        </div>
                        <div class="col-lg-6">
                            @Html.EditorFor(model => model.segundo_apellido, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.segundo_apellido, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <!-- Username-->
                    <div class="fila">
                        <div class="col-lg-6">
                            @Html.LabelFor(model => model.nombre_usuario, htmlAttributes: new { @class = "control-label col-md-2" })
                        </div>
                        <div class="col-lg-6">
                            @Html.EditorFor(model => model.nombre_usuario, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.nombre_usuario, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <!--Contraseña-->

                    <div class="fila">
                        <div class="col-lg-6">
                            @Html.LabelFor(model => model.pass_usuario, htmlAttributes: new { @class = "control-label col-md-2" })
                        </div>
                        <div class="col-lg-6">
                            @Html.EditorFor(model => model.pass_usuario, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.pass_usuario, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <!--Fecha de nacimiento-->
                    <div class="fila">
                        <div class="col-lg-6">
                            @Html.LabelFor(model => model.fecha_nacimiento, htmlAttributes: new { @class = "control-label col-md-2" })
                        </div>
                        <div class="col-lg-6">
                            @Html.TextBoxFor(model => model.fecha_nacimiento, "{0:dd/MM/yyyy}", new { placeholder = "DD-MM-AA" })
                        </div>
                    </div>


                    <!--Registrarse-->

                    <div class="fila">
                        <div class="col-lg-2">

                        </div>
                        <div class="col-lg-8">
                            <input type="submit" value="Registrarse">
                        </div>
                        <div class="col-lg-2">

                        </div>
                    </div>

                    <hr class="separador-redondo">

                    <!--Registro alternativo-->
                    <div class="fila">
                        <div class="col-lg-12">
                            <p> Registrate con Google, Facebook o Outlook</p>
                        </div>
                    </div>

                    <!--Imagenes registro externo-->
                    <div class="fila">
                        <div class="col-lg-4">
                            <img src="~/Imagenes/facebook.png" alt="Avatar" style="width:100%">
                        </div>

                        <div class="col-lg-4">
                            <img src="~/Imagenes/google.png" alt="Avatar" style="width:100%">
                        </div>

                        <div class="col-lg-4">
                            <img src="~/Imagenes/outlook.png" alt="Avatar" style="width:100%">
                        </div>
                    </div>

                </form>
            </div>
        </div>
    }

</body>
</html>